@{
    ViewBag.Title = "Home Page";
}
<style>
    body {
        background-image: url('../../Image/fall-wallpaper-1390-1522-hd-wallpapers.jpg');
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-color: #464646;
    }
</style>
<body>
    <div class="container">
        <div class="centrado-porcentual">
            <h1 class="text-center" style="color:white">Schedule Planner Aplication</h1>
        </div>
    </div>
</body>
