@{
    ViewBag.Title = "Home Page";
}

<div>

</div>
<div id="nav" class="text-center container-fluid">
    <br />
    <div class="row jumbotron  alert-warning">         
        <div class="col">
            <img src="~/Image/Logo_opt.png" />
        </div>  
    </div> 
</div>

<div class="row">
    <div class="col-md-4 text-center">
        <img src="~/Image/casa_318-119276.jpg" />
        <p>@Html.ActionLink("Sedes","Index","Seats")<p/>
    </div>
    <div class="col-md-4 text-center">
        <img src="~/Image/equipo_318-72702.jpg" />
        <p>@Html.ActionLink("Usuarios", "Index", "people")<p />       
    </div>
    <div class="col-md-4 text-center">
        <img src="~/Image/lista-llena-de-cuadros_318-72822.jpg" />
        <p>@Html.ActionLink("Programas de formación", "Index", "trainingPrograms")<p />
    </div>
</div>