@{
    ViewBag.Title = "Home Page";
}
<style>
    body {
        background-image: url('../../Image/fall-wallpaper-1390-1522-hd-wallpapers.jpg');
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-color: #464646;
    }
    #Texto_de_bienvenida{
        color:white;     
    }
   
</style>
<body>
    <div class="container">
        <div class="container" style="min-height:150px">
            <br />
        </div>
        <div id="Texto_de_bienvenida" >
            <div>
                <h1 class="text-center" style="color:white">Schedule Planner Aplication</h1>
                <div class="container row">
                    <div class="col-md-6 col-md-offset-3" style="text-align:justify">
                        <p style="text-justify:auto">Schedule Planner Application es una herramienta web diseñada y desarrollada para brindar una solucion a la gestión de los horarios del Centro de Electricidad, Electronica y Telecomunicaciones CEET. Este aplicativo web fue desarrollado pensando siempre en la comodidad del usuario proporcionandole una interfaz gráfica amigabley un tiempo de respuesta bajo con el fin de optimizar el trabajo realizado.</p>
                    </div>
                </div>
            </div>
                <div class="container" style="min-height:230px">
                    <br />
                </div> 
                <div id="Letrero_Bienvenidos" class="col-md-6 col-md-offset-3 text-center">
                    <h1>Bienvenidos</h1>
                </div>
                <div class="container" style="min-height:197px">
                    <br />
                </div> 
                <div class="container row text-center" style="color:white">
                    <hr />
                    <p>© 2018 The Schedule Planner Application, reservados todos los derechos.</p>
                    <p>Términos y Condiciones | Políticas de Privacidad | Información para inversores</p> 
               </div>
           </div>
        </div>
    </div>
</body>
